
/* button "inline" */
.wikiotext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #666666;
}
.wikiolink:link {
  text-decoration: none;
  color: #666666;
}
.wikiolink:visited {
  text-decoration: none
  color: #f99412;
}
.wikiolink:hover {
  text-decoration: none;
  color:#f99412;
}
.wikiobutton1 {
  /*float: right;*/
  background: url(images/bouton.gif) no-repeat;
  width: 120px;
  height: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #666666;
}
.wikioaction1 {
  line-height: 14px;
  float: left;
  height: 14px;
  padding: 1px 2px 2px 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.wikiovote1 {
  line-height: 14px;
  float: right;
  height: 14px;
  margin-right: 49px;
  padding: 2px 2px 1px 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #f99412;
  border-left: 1px solid #b8bbbd;
  cursor:pointer;
}
.wikioaction1 a:link {
  text-decoration: none;
  color: #666666;
  border: 0px;
}
.wikioaction1 a:visited {
  text-decoration: none;
  color: #666666;
  border: 0px;
}
.wikioaction1 a:hover {
  text-decoration: none;
  color: #f99412;
  border: 0px;
}
.wikiovote1 a:link {
  text-decoration: none;
  color: #f99412;
  border: 0px;
}
.wikiovote1 a:visited {
  text-decoration: none;
  color: #f99412;
  border: 0px;
}
.wikiovote1 a:hover {
  text-decoration: none;
  color: #f99412;
  border: 0px;
}
