
/* button "big" */
.wikiotext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #666666;
}
.wikiobutton {
  float: right;
  width: 47px;
  border: solid 1px #b7bbbe;
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
}
.wikio {
  height: 15px;
  margin-left: 1px;
}
.wikio img {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.wikiotxt {
  height: 50px;
  text-align: center;
}
.a {
  background: url(images/trait.gif) repeat-x bottom;
}
.b {
  background: url(images/degrade.gif) repeat-x bottom;
}
.wikionote {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 6px 0 4px 0;
}
.wikioaction {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #333333;
}
.wikionote a {
  text-decoration: none;
  color: #f18717;
  font-size: 16px;
  border: 0px;
}
.wikionote a:visited {
  text-decoration: none;
  color: #f18717;
  font-size: 16px;
  border: 0px;
}
.wikionote a:hover {
  text-decoration: none;
  color: #f18717;
  font-size: 16px;
  border: 0px;
}
.wikioaction a {
  text-decoration: none;
  color: #333333;
  border: 0px;}
.wikioaction a:visited {
  text-decoration: none;
  color: #333333;
  border: 0px;
}
.wikioaction a:hover {
  text-decoration: underline;
  color: #333333;
  border: 0px;
}
